<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Панель Администратора</title>
</head>
<body>
<h1>Панель Администратора</h1>
<a href="/admin/hallShedules"><button>Расписания</button></a>
<a href="/admin/halls"><button>Залы</button></a>
<a href="/admin/films"><button>Фильмы</button></a>
<a href="/admin/tickets/search"><button>Бронирования</button></a>
<a href="/admin/reports"><button>Отчетность</button></a>

<a href="/bookTicket"><button>Вернуться к расписанию</button></a>
</body>
</html>