<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Создать зал</title>
</head>
<body>
<h2>Создать новый зал</h2>
<form action="#" th:action="@{/admin/halls/create}" th:object="${hall}" method="post">
    <label for="name">Название зала:</label>
    <input type="text" id="name" th:field="*{name}" required="true" />

    <label for="active">Активен:</label>
    <input type="checkbox" id="active" th:field="*{active}" />

    <button type="submit">Создать зал</button>
</form>

<a href="/admin/halls" class="back-link">Назад</a>
</body>
</html>
