<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Редактирование расписания</title>
</head>
<body>
<h1>Редактирование расписания</h1>
<form th:action="@{/admin/hallShedules/edit/{id}(id=${hallShedule.id})}" th:object="${hallShedule}" method="post">

    <!-- Поле выбора фильма -->
    <label for="film">Film:</label>
    <select id="film" name="filmId" required>
        <option th:each="film : ${films}" th:value="${film.id}" th:text="${film.title}"></option>
    </select><br/>

    <!-- Поле выбора зала -->
    <label for="hall">Hall:</label>
    <select id="hall" name="hallId" required>
        <option th:each="hall : ${halls}" th:value="${hall.id}" th:text="${hall.name}"></option>
    </select><br/>

    <!-- Поле выбора даты -->
    <label for="date">Date:</label>
    <input type="date" id="date" name="date"
           th:value="${#temporals.format(hallShedule.startTime, 'yyyy-MM-dd')}" required/><br/>

    <!-- Поле выбора времени -->
    <label for="time">Time:</label>
    <input type="time" id="time" name="time"
           th:value="${#temporals.format(hallShedule.startTime, 'HH:mm')}" required/><br/>


    <button type="submit">Update Schedule</button>
</form>

<!-- Удаление расписания -->
<form th:action="@{/admin/hallShedules/delete/{id}(id=${hallShedule.id})}" method="post">
    <button type="submit">Delete Schedule</button>
</form>
<a href="/admin/hallShedules">Back to Hall Schedules</a>
</body>
</html>
