<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Редактирование расписания</title>
</head>
<body>
<h1>Редактирование расписания</h1>
<form th:action="@{/admin/hallShedules/edit/{id}(id=${hallShedule.id})}" th:object="${hallShedule}" method="post">

    <label for="film">Фильм:</label>
    <select id="film" name="filmId" required>
        <option th:each="film : ${films}" th:value="${film.id}" th:text="${film.title}"></option>
    </select><br/>

    <label for="hall">Зал:</label>
    <select id="hall" name="hallId" required>
        <option th:each="hall : ${halls}" th:value="${hall.id}" th:text="${hall.name}"></option>
    </select><br/>

    <label for="date">Дата:</label>
    <input type="date" id="date" name="date"
           th:value="${#temporals.format(hallShedule.startTime, 'yyyy-MM-dd')}" required/><br/>

    <label for="time">Время:</label>
    <input type="time" id="time" name="time"
           th:value="${#temporals.format(hallShedule.startTime, 'HH:mm')}" required/><br/>


    <button type="submit">Обновить расписание</button>
</form>

<form th:action="@{/admin/hallShedules/delete/{id}(id=${hallShedule.id})}" method="post">
    <button type="submit">Удалить расписание</button>
</form>
<a href="/admin/hallShedules">Вернуться к расписаниям</a>
</body>
</html>
