<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Список залов</title>
</head>
<body>
<div class="container">
    <h2>Управление залами</h2>

    <a href="/admin/halls/create" class="create-button">Создать зал</a>

    <h3>Существующие залы</h3>
    <div class="halls-list">
        <div th:each="hall : ${halls}">
            <a th:href="@{/admin/halls/edit/{id}(id=${hall.id})}" class="hall-button" th:text="'Зал ' + ${hall.name}"></a>
        </div>
    </div>
</div>
</body>
</html>
