<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Расписание залов</title>
</head>
<body>
<h1>Расписание залов</h1>
<label for="select-day">Выберите день:</label>
<select id="select-day" onchange="location = this.value;">
    <option disabled selected>-- Select Day --</option>
    <th:block th:each="day : ${uniqueDays}">
        <option th:value="@{'/admin/hallShedules?day=' + ${day}}" th:text="${day}"></option>
    </th:block>
</select>
<a href="/admin/hallShedules/create" class="create-button">Создать расписание</a>

<div th:if="${groupedSchedules}">
    <th:block th:each="entry : ${groupedSchedules}">
        <div>
            <h2 th:text="'День: ' + ${entry.key}"></h2>
            <th:block th:each="filmEntry : ${entry.value}">
                <div>
                    <h3 th:text="'Фильм: ' + ${filmEntry.key.title}"></h3>
                    <th:block th:each="hallEntry : ${filmEntry.value}">
                        <div>
                            <h4 th:text="'Зал: ' + ${hallEntry.key.name}"></h4>
                            <p>
                                <th:block th:each="schedule : ${hallEntry.value}">
                                    <a th:href="@{'/admin/hallShedules/edit/' + ${schedule.id}}"
                                       th:text="${schedule.startTime.toLocalTime()}"></a>&nbsp;
                                </th:block>
                            </p>
                        </div>
                    </th:block>
                </div>
            </th:block>
        </div>
    </th:block>
</div>
</body>
</html>
