<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Регистрация</title>
</head>
<body>
<div th:if="${message}">
    <div th:text="${message}"></div>
</div>
<form th:action="@{/registration}" method="post">
    <div>
        <label>Имя пользователя:
            <input type="text" name="username" placeholder="Введите имя пользователя" required/>
        </label>
    </div>
    <div>
        <label>Email:
            <input type="email" name="email" placeholder="Введите email" required/>
        </label>
    </div>
    <div>
        <label>Пароль:
            <input type="password" name="password" placeholder="Введите пароль" required/>
        </label>
    </div>
    <div>
        <input type="submit" value="Зарегистрироваться"/>
    </div>
</form>
</body>
</html>
