<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Booking Confirmation</title>
</head>
<body>
<h1>Спасибо за бронирование!</h1>
<h2>Ваши билеты:</h2>
<table border="1">
    <thead>
    <tr>
        <th>Ряд</th>
        <th>Место</th>
        <th>Фильм</th>
        <th>Зал</th>
        <th>Время показа</th>
    </tr>
    </thead>
    <tbody>
    <th:block th:each="ticket : ${tickets}">
        <tr>
            <td th:text="${ticket.row}"></td>
            <td th:text="${ticket.seat}"></td>
            <td th:text="${ticket.hallShedule.film.title}"></td>
            <td th:text="${ticket.hallShedule.hall.name}"></td>
            <td th:text="${ticket.hallShedule.startTime}"></td>
        </tr>
    </th:block>
    </tbody>
</table>

<a href="/bookTicket"><button>Вернуться к расписанию</button></a>
</body>
</html>
