<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Схема зала</title>
</head>
<style>
    .occupied-seat {
        color: red;
        font-weight: bold;
    }
    .free-seat {
        color: green;
    }
</style>
<body>
<h1 th:text="'Hall Schema for ' + ${schedule.hall.name}"></h1>
<h2 th:text="'Film: ' + ${schedule.film.title}"></h2>
<h3 th:text="'Start Time: ' + ${schedule.startTime}"></h3>

<form th:action="@{/bookTicket/pickPlace/{scheduleId}(scheduleId=${schedule.id})}" method="post">
    <input type="hidden" th:value="${schedule.id}" name="scheduleId"/>
    <table border="1">
        <thead>
        <tr>
            <th>Row</th>
            <th>Seats</th>
        </tr>
        </thead>
        <tbody>
        <th:block th:each="row : ${hallRows}">
            <tr>
                <td th:text="'Row ' + ${row.row}"></td>
                <td>
                    <th:block th:each="seat : ${#numbers.sequence(1, row.seatCount)}">
                        <label>
                            <input type="checkbox"
                                   th:disabled="${bookedSeats[row.row]?.contains(seat)}"
                                   th:checked="${bookedSeats[row.row]?.contains(seat)}"
                                   th:value="${row.row + '-' + seat}"
                                   name="selectedSeats"/>
                            <span th:text="${seat}"
                                  th:classappend="${bookedSeats[row.row]?.contains(seat)} ? 'occupied-seat' : 'free-seat'"></span>
                        </label>&nbsp;
                    </th:block>
                </td>
            </tr>
        </th:block>
        </tbody>
    </table>
    <button type="submit">Подтвердить выбор</button>
</form>


</body>
</html>
