<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Главное меню</title>
</head>
<body>
<h1>Главное меню</h1>
<a href="/admin">
    <button>Перейти на страницу администрирования</button>
</a>

<a href="/profile"><button>профиль</button></a>

<label for="select-day">Выберите день:</label>
<select id="select-day" onchange="location = this.value;">
    <option disabled selected>-- Select Day --</option>
    <th:block th:each="day : ${uniqueDays}">
        <option th:value="@{'/bookTicket?day=' + ${day}}" th:text="${day}"></option>
    </th:block>
</select>

<div th:if="${groupedSchedules}">
    <th:block th:each="entry : ${groupedSchedules}">
        <div>
            <h2 th:text="'День: ' + ${entry.key}"></h2>
            <th:block th:each="filmEntry : ${entry.value}">
                <div>
                    <h3>
                        <a th:href="@{'/filmsView/' + ${filmEntry.key.id}}" th:text="${filmEntry.key.title}"></a>
                    </h3>


                    <img th:src="${filmEntry.key.imageUrl}" alt="Film Image" width="200" height="300" />

                    <th:block th:each="hallEntry : ${filmEntry.value}">
                        <div>
                            <h4 th:text="'Фильм: ' + ${hallEntry.key.name}"></h4>
                            <p>
                                <th:block th:each="schedule : ${hallEntry.value}">
                                    <a th:href="@{'/bookTicket/pickPlace/' + ${schedule.id}}"
                                       th:text="${schedule.startTime.toLocalTime()}"></a>&nbsp;
                                </th:block>
                            </p>
                        </div>
                    </th:block>
                </div>
            </th:block>
        </div>
    </th:block>
</div>

</body>
</html>
